/*DIGITAL CLOCK FONT*/
@font-face{
    font-family:'digital-7';
    src: url('fonts/digital-7.ttf');
  }
     
  *{
    margin: 0;
    padding: 0;
  }
/*DIGITAL CLOCK FONT*/ 
  
  
body{
      
    font-family: 'digital-7', sans-serif;
    background: #d9d9d9;
    overflow: hidden;
  }
  
  
  /* CLOCK FACE */  
.clockface{
  position: absolute;
  top: 50%;
  left: 50%;
  width:500px;
  height:500px;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  color:#7e7a7a;
  background: linear-gradient(145deg,#c3c3c3,#e8e8e8);
  border-radius:70px 70px;
  box-shadow:28px 28px 56px #ababab,-28px -28px 56px #ffffff;     
  text-align: center;
 
}
  /* CLOCK FACE */       
  
  
  /* DIGITAL FONT FIELD */  

 .clock-field {
    margin: 5px 0;
    display: flex;
    justify-content: center;
  }
  .clock-field div {
      display: inline-block;
      position: relative;
  }
  .clock-field div p {
      font-size: 100px;
      position: relative;
      z-index: 100;
  }
  .clock-field .numbers .placeholder {
      color: #c7c7c7;
      position: absolute;
      top: 0;
      z-index: 50;
  }
  .clock-field .numbers .type {
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-top: -10px;
  }
  .clock-field .am-pm {
      font-family: sans-serif;
      text-transform: uppercase;
      width: 20px;
  }
  .clock-field .am-pm div p {
      font-size: 12px;
      font-weight: bold;
      width: 100%;
  }
  .clock-field .am,
  .clock-field .pm {
      color: #bbb2b2;
  }
  .light-on {
    color: #7e7a7a !important;
  }
  /* DIGITAL FONT FIELD */  

  
  /*CONTAINER FOR SELECT BOXES*/
  #set-alarm {
    position: absolute;
    top: 30%;
    width:90%;
    display:flex;
    justify-content: center;
  }
  /*CONTAINER FOR SELECT BOXES*/


  /*AM-PM select box */
  #tpick-p{
    background-color : #d9d9d9; 
    box-shadow : inset -3px -3px 9px #ffffff83,inset 3px 3px 7px rgba(94,104,121,0.688); 
    appearance: none;
    margin: 10px;
    padding: 20px;
    border: none;
    outline: none;
  }
  /*AM-PM select box */



  /* SET ALARM BUTTON */  

  .btn {
    
    border: none;
    background: #d9d9d9;
    border-radius: 20px;
    box-shadow: -3px -3px 9px #ffffff83, 3px 3px 7px rgba(94,104,121,0.688);
    padding: 0.5rem;
    position:absolute;
    top:80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
  
  }
  .btn:hover {
    color: #333;
    background: #fff;
  }
   /* SET ALARM BUTTON */




  /* ALARM LIST CONTAINER */  
  .set-alarm-container {
    position:relative;
    margin:0 auto;
    top:32%;
    left:0px;
    width: 95%;
    height:40%;
    background-color : #d9d9d9; 
    box-shadow : inset -3px -3px 9px #ffffff83,inset 3px 3px 7px rgba(94,104,121,0.688);
  }
  /* ALARM LIST CONTAINER */  



  /*alarms list title*/
  .set-alarm-container .set-alarm-container-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    
  }
 /*alarms list title*/


  /*main container for alarm list*/
  .alarms-container{
    position:relative;
    width:100%;
    height:90%;
    margin:0 auto;
    overflow: scroll;
    overflow-x: hidden;
  }
  /*main container for alarm list*/
  
  
  
   /* ALARM LIST ITEM STYLING */  

   .d-flex {
    display: flex;
  }
  
  .alarm {
    position:relative;
    width:90%;
    height:30%;
    margin:10px;
    background: #d9d9d9;
    box-shadow: -3px -3px 9px #ffffff83, 3px 3px 7px rgba(94,104,121,0.688);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    align-items: center;
  }
  /* ALARM LIST ITEM STYLING */
  
  
  
  /*DELETE BUTTON*/
  .button {
    
    border: none;
    background: #d9d9d9;
    border-radius: 20px;
    box-shadow: -3px -3px 9px #ffffff83, 3px 3px 7px rgba(94,104,121,0.688);
    padding: 0.5rem;
    position:absolute;
    right:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
  
  }
  
  .button:hover {
    color: #333;
    background: #fff;
  }
  /*DELETE BUTTON*/
  
  
  
  
  /* SCROLLBAR */  

  /* width */
  .alarms-container::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .alarms-container::-webkit-scrollbar-track {
    background: #d9d9d9;    
  }
   
  /* Handle */
  .alarms-container::-webkit-scrollbar-thumb {
   
    border-radius:30px ;
    background: #d9d9d9;
    box-shadow: -3px -3px 9px #ffffff83, 3px 3px 7px rgba(94,104,121,0.688);
    
  }
  
  /* Handle on hover */
  .alarms-container::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }

/* SCROLLBAR */  
  
  
  


  /*RESPONSIVE DESIGN*/
 
  /* style of devices of screen size less than 600px */
  @media only screen and (max-width: 600px) {
   
    
    .clock-field div p {
      font-size: 80px;
  }
    
    .clock-field .am-pm div p {
      font-size: 13px;
    }
   
    .clock-field{
      width:350px;
    } 

    .set-alarm-container {
      
      top:200px;
    }

    #set-alarm {
      width:85%;
    } 

    .alarm {
      width:85%;
    }

    .alarms-container::-webkit-scrollbar {
      width: 10px;
    }

    .clockface{
      justify-content: center;
      border-radius: 50px;
      width: 350px;
      min-height: auto;
    }
  }
